.container {
  width: 100%;
  max-width: 700px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: auto;
  column-gap: 40px;
  row-gap: 20px;
  justify-content: center;
  align-items: start;
  background-color: var(--color-white);
  border-radius: 4px;
  padding: 25px 15px;
}

.element {
  width: 100%;
  max-width: 250px;
  height: 250px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  background-color: var(--color-bg);
  text-align: center;
  cursor: pointer;
}
.wrap_img_wrap {
  width: 140px;
  height: 140px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-primary);
  border-radius: 6px;
}
.img_wrap {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.name {
  font: var(--font-l);
  color: var(--color-primary);
  margin-top: 15px;
}

.icon {
  color: var(--color-primary);
}
@media screen and (max-width: 560px) {
  .container {
    column-gap: 30px;
  }

  .element {
    max-width: 200px;
    height: 200px;
    padding: 40px;
  }
  .wrap_img_wrap {
    width: 120px;
    height: 120px;
    padding: 10px;
  }
  .img_wrap {
    width: 100px;
    height: 100px;
  }

  .name {
    font: var(--font-ml);
    margin-top: 10px;
  }
}

@media screen and (max-width: 460px) {
  .container {
    column-gap: 20px;
  }

  .element {
    max-width: 180px;
    height: 180px;
    padding: 30px;
  }
  .wrap_img_wrap {
    width: 110px;
    height: 110px;
    padding: 10px;
  }
  .img_wrap {
    width: 95px;
    height: 95px;
  }
}
