.section {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.section_wrap {
  width: 100%;
  max-width: 700px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  font: var(--font-menu);
  color: var(--color-text-grey);
}

.img_error_wrap {
  width: 100%;
  max-width: 350px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_error {
  width: 100%;
  height: auto;
  object-fit: contain;
  object-position: center;
}
