.section {
  width: 100%;
  max-width: 450px;
}

.prev_arrow {
  position: absolute;
  top: 35%;
  left: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: var(--color-primary);
  cursor: pointer;
}

.next_arrow {
  position: absolute;
  top: 35%;
  right: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: var(--color-primary);
  cursor: pointer;
}

.element {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.element_img_wrap {
  width: 110px;
  height: 110px;
  display: flex;
  justify-content: center;
}

.element_img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center center;
}

.element_title {
  display: flex;
  justify-content: center;
  width: 100%;
  font: var(--font-menu);
  color: var(--color-text-grey);
  text-align: center;
  margin-top: 15px;
}

@media screen and (max-width: 500px) {
  .section {
    width: 100%;
    max-width: 350px;
  }
  .element_img_wrap {
    width: 90px;
    height: 90px;
  }

  .prev_arrow {
    position: absolute;
    top: 35%;
    left: -20px;
    width: 30px;
    height: 30px;
  }

  .next_arrow {
    position: absolute;
    top: 35%;
    right: -30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
}

@media screen and (max-width: 400px) {
   .section {
    width: 100%;
    max-width: 300px;
  }
  .element_img_wrap {
    width: 70px;
    height: 70px;
  }

  .prev_arrow {
    position: absolute;
    top: 35%;
    left: -10px;
    width: 30px;
    height: 30px;
  }

  .next_arrow {
    position: absolute;
    top: 35%;
    right: -20px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .element_title {
  font: var(--font-submenu);
  margin-top: 15px;
}
}
