section {
}
.btn_subscr {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 40px;
  padding: 0 15px;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  color: var(--color-white);
  cursor: pointer;
}

.btn_subscr:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn_icon {
  font-size: 35px;
  color: var(--color-white);
  margin-right: 5px;
}

.btn_text {
  font: var(--font-m);
}

.text {
  font: var(--font-submenu);
}

.btn_cancel {
  width: max-content;
  height: 30px;
  padding: 0 15px;
  background-color: var(--color-white);
  border: 1px solid var(--color-text-grey);
  color: var(--color-text-grey);
  border-radius: 6px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
  box-sizing: border-box;
  margin-right: 15px;
}
.btn_cancel:hover {
  opacity: 0.7;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

.btn_ok {
  width: max-content;
  height: 30px;
  padding: 0 15px;
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-white);
  border: none;
  border-radius: 6px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s;
  box-sizing: border-box;
}

.btn_ok:hover {
  opacity: 0.7;
}
